<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <title>PubSub</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- Socket.io -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- Subscriber Script -->
        <!-- <script src="./static/js/Subscriber.js"></script> -->

        <script>
            var socket = {}
            var subscriber = {}
            $(document).ready(function(){
                var subscriberName = prompt("What is your subscriber name?");

                socket = io.connect("http://" + document.domain + ":" + location.port + "/");
                var notifications_received = [];

                getSubscriberInfo(subscriberName);

                // Publish Subscriber Infomation
                $("#subscriptionRequest").on("submit", function(e){
                    // Prevent the form submission from refreshing the page
                    e.preventDefault();

                    // Get data from form
                    var formDataRaw = $("#subscriptionRequest").serializeArray();
                    // Format it into a single JS object
                    var formData = convertFormArrayToAssociativeArray(formDataRaw);
                    // Save a local copy for filtering
                    subscriber = formData;
                    // Send form data to the server as JSON
                    socket.emit("subscriber", formData);
                });

                // Catch "publication" event
                socket.on("publication", function(msg){
                    // Convert the message content to a JSON string
                    let content_string = JSON.stringify(msg.content);

                    // Add the new notification if it updates the current subscriber information
                    if(msg.content.subscriberName != undefined && msg.content.subscriberName == subscriber.subscriberName){
                        notifications_received.push(content_string);
                    }

                    // If the notification is about a tell
                    if(msg.content.id != undefined){
                        // Add the new notification if it is about something that I have subscribed to
                        let subTitles = subscriber.titles.split(",");
                        let subTellers = subscriber.tellers.split(",");
                        let subKeywords = subscriber.keywords.split(",");
                        let conTitles = stringContainsAnyElement(msg.content.title, subTitles);
                        let conTellers = stringContainsAnyElement(msg.content.teller, subTellers);
                        let conKeywords = stringContainsAnyElement(msg.content.keyword, subKeywords);
                        console.log([msg.content.title, subTitles, conTitles]);
                        console.log([msg.content.teller, subTellers, conTellers]);
                        console.log([msg.content.keyword, subKeywords, conTellers]);
                        if(conTitles || conTellers || conKeywords){
                                notifications_received.push(content_string);
                        }
                    }
                    notifications_received.push("DEBUG: " + content_string);

                    // Create the HTML for presenting all of the notifications
                    numbers_string = "";
                    for (let i = 0; i < notifications_received.length; i++) {
                        numbers_string = numbers_string + "<p>" + notifications_received[i] + "</p>";
                    }
                    
                    // Inject the HTML into the page
                    $("#log").html(numbers_string);
                })
            });

            function stringContainsAnyElement(mainString, strArray){
                let output = false;
                strArray.forEach(subString => {
                    if(subString !== "" && mainString.indexOf(subString) > -1){
                        output = true;
                    }
                });
                return output;
            }

            function getSubscriberInfo(subscriberName){
                payload = {"subscriberName":subscriberName}
                $.ajax({
                    url:"./user",
                    type:"GET",
                    contentType:"application/json; charset=utf-8",
                    data:payload,
                    success:function(response){
                        // If the user has an active subscription
                        if(response != "none"){
                            let subscriber = JSON.parse(response);
                            setSubscriberInfo(subscriber);
                            populateFormWithSubscriberInfo(subscriber);
                        }
                    }
                })
            }

            function setSubscriberInfo(subscription){
                subscriber = subscription;
            }

            function populateFormWithSubscriberInfo(subscriber){
                console.log("Populating form...");
                subscriber = JSON.parse(subscriber);
                let subscriberName = subscriber["subscriberName"];
                let titles = subscriber["titles"];
                let tellers = subscriber["tellers"];
                let keywords = subscriber["keywords"];
                console.log([subscriber, subscriberName, titles, tellers, keywords]);
                $("#subscriberName").val(subscriberName);
                $("#titles").val(titles);
                $("#tellers").val(tellers);
                $("#keywords").val(keywords);
            }

            function convertFormArrayToAssociativeArray(formArray){
                var formDataFormatted = {};
                formArray.forEach(input => {
                    formDataFormatted[input.name] = input.value
                });
                return formDataFormatted
            }

        </script>
        
    </head>
      
      
    <body>
        <!-- Enforce the enabling of Javascript --> 
        <noscript>
        <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>

        <!-- Banner Section -->
        <div class="container">
            <div class="jumbotron">
                <h1>Async Flask Communication</h1>
                <p>Publish-Subscribe Example Project</p>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="container">
            <div class="row">
                <h2>Subscribe</h2>
                <form id="subscriptionRequest" action="">
                    <table>
                        <tr>
                            <td><label>Subscriber Name:</label></td>
                            <td><input id="subscriberName" type="text" name="subscriberName"></td>
                        </tr>
                        <tr>
                            <td><label>Title(s):</label></td>
                            <td><input type="text" id="titles" name="titles" placeholder="TitleA, TitleB, ..."></td>
                        <tr>
                            <td><label>Teller(s):</label></td>
                            <td><input type="text" id="tellers" name="tellers" placeholder="Anne Baker, Chet Dupont, ..."></td>
                        </tr>
                        <tr>
                            <td><label>Keyword(s):</label></td>
                            <td><input type="text" id="keywords" name="keywords" placeholder="Cat, Dog, Snake, ..."></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit">Subscribe</button></td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="row">
                <h2>Notifications:</h2>
                <div id="log"></div>
            </div>
        </div>
    </body>

    <footer>
    </footer>
</html>